<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
  </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off"/>
      <!--Additional trust level changes-->
      <trust level="Full" />

      <machineKey validationKey="59867734DE6118192932208E27D70B5EAD721EBD5BE209013C4E3C28771E04A9ECE7DB2CDF169E0491CC240C2AB9F73E591331C70A732D4AC6DA52B6F2B7E4AD"
                  decryptionKey="F587EBAA309B8FE7266A760EF6AA5C1E4AFEEC3BA5227DEBA01E5A48DE5A3F79"
                  validation="SHA1" decryption="AES" />

      <identity impersonate="true"/>
      
      <pages>
        <controls>
          <add tagPrefix="controls" src="~/Controls/LoginStatusControl.ascx" tagName="LoginStatusControl" />
          <add tagPrefix="controls" src="~/Controls/ThumbnailCropControl.ascx" tagName="ThumbnailCropControl" />
        </controls>
      </pages>
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules></system.web>
  
  <appSettings>
    <add key="MySQL.ConnectionString" value="SERVER=localhost; DATABASE=pitchdeatest; UID=test; PASSWORD=test;" />
    <!--<add key="MySQL.ConnectionString" value="SERVER=188.121.44.166; PORT=3306; DATABASE=pitchdeaproduct; UID=pitchdeaproduct; PASSWORD=p7Urajup#;" />-->
    <add key="savePath" value="~\img\ideaImages\uploaded\" />
  </appSettings>

<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  </system.webServer></configuration>
